body {
  background-color: #eee; }

a {
  color: #333; }

a:hover {
  color: #0E4E4C;
  text-decoration: none;
  transition: 0.2s; }

.link-accent {
  color: #A8393C; }

.link-accent:hover {
  color: #550103;
  text-decoration: none;
  transition: 0.35s; }

.post {
  line-height: 150%;
  font-size: 18px;
  /**Misc**/ }
  .post img {
    max-width: 100%;
    margin: auto;
    border: 1px solid #eee; }
  .post .timestamp {
    background-color: brown;
    color: white;
    padding: 0px 8px;
    border-radius: 10px; }
  .post .caption {
    font-size: 14px;
    margin: auto;
    display: block;
    text-align: center; }

/** Global **/
.center {
  text-align: center; }

/** Nav **/
#nav-full {
  background-color: #41817F;
  margin-bottom: 5vh; }

.navbar a {
  color: white !important; }

.navbar a:hover {
  color: #ccc !important;
  transition: 0.2s; }

.navbar-brand {
  font-weight: bold; }

.navbar-toggler {
  color: white !important; }

.active a {
  font-weight: bold; }

.active a:hover {
  color: white !important; }

/** Post **/
.post {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 1px 2px 3px #ddd;
  padding: 30px;
  margin-bottom: 5vh;
  overflow: hidden; }

/** Category **/
#category-title {
  text-align: center;
  text-transform: lowercase;
  letter-spacing: 1.5px;
  margin-bottom: 5vh; }
  #category-title .title-divider {
    margin: auto; }

.header, .side-header {
  color: #999;
  display: block;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 0.5vw 1vh; }

.title-divider {
  height: 6px;
  border-bottom: 2px solid #41817F;
  width: 22px; }

#paginator {
  text-align: center; }
  #paginator * {
    padding: 4px; }
  #paginator .current {
    font-weight: bold;
    color: #013432; }

/** Side Bar **/
.side-header {
  color: white;
  background-color: #41817F;
  border-radius: 3px 3px 0 0;
  margin: 0; }

#profile p {
  margin: 0;
  line-height: 30px; }

.side-content {
  background-color: #ddd;
  border: 1px solid #bbb;
  border-radius: 0 0 3px 3px;
  box-shadow: 0px -1px 3px #bbb inset;
  padding: 5px 10px; }
