.post {
  line-height: 150%;
  font-size: 18px;
  /**Misc**/ }
  .post img {
    max-width: 100%;
    margin: auto;
    border: 1px solid #eee; }
  .post .timestamp {
    background-color: brown;
    color: white;
    padding: 0px 8px;
    border-radius: 10px; }
  .post .caption {
    font-size: 14px;
    margin: auto;
    display: block;
    text-align: center; }
